.box {
  border: 1px solid #574E74;
  border-radius: 16px;
  background: radial-gradient(113.88% 113.88% at 67.99% -35.17%, #231F38 0%, #100D21 100%);
  transition: .9s;

  &:hover {
    transform: scale(1.05);
  }

  &.gradient {
    background: linear-gradient(101.49deg, #749828 -1.14%, #674EFF 109.57%);
    border: 0;
  }

  .inner {
    padding: 24px;
    border-radius: 16px;

    @media (max-width: 768px) {
      padding: 16px;
    }

    &.inner1 {
      background: url('/images/home/features-upd-1.png') center bottom / contain no-repeat;
      height: 458px;

      @media (max-width: 768px) {
        height: 300px;
      }
    }

    &.inner2 {
      background: url('/images/home/features-upd-2.png') center bottom / contain no-repeat;

      @media (max-width: 768px) {
        height: 200px;
      }
    }

    &.inner3 {
      background: url('/images/home/features-upd-3.png') right center / contain no-repeat;

      @media (max-width: 768px) {
        background: url('/images/home/features-upd-3.png') right bottom no-repeat;
        height: 320px;
      }
    }

    &.inner4 {
      background: url('/images/home/features-upd-4.png') center bottom / contain no-repeat;
      height: 400px;

      @media (max-width: 768px) {
        background: url('/images/home/features-new-4m.png') center bottom / contain no-repeat;
        height: 240px;
      }
    }

    &.inner5 {
      background: url('/images/home/features-new-5.png') center bottom / contain no-repeat;
      height: 400px;

      @media (max-width: 768px) {
        height: 320px;
      }
    }

    &.inner6 {
      background: url('/images/home/features-upd-6.png') center bottom / contain no-repeat;
      height: 400px;

      @media (max-width: 768px) {
        height: 300px;
      }
    }

    &.inner7 {
      background: url('/images/home/features-upd-7.png') right bottom / cover no-repeat;
      height: 180px;

      @media (max-width: 768px) {
        background: url('/images/home/features-new-7m.png') center bottom / cover no-repeat;
        height: 240px;
      }
    }
  }
}