.container {
  width: 100%;
  height: 64px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(9, 5, 29, 0.6);
  border-bottom: 0.5px solid #311B92;
  backdrop-filter: blur(6px);
  padding: 0 24px;

  .logo {
    position: relative;
    padding-top: 11px;

    .badge {
      position: absolute;
      background-color: #77E9D4;
      border-radius: 2px;
      color: #231D4C;
      text-align: center;
      font-family: 'Gilroy';
      font-style: italic;
      font-weight: 800;
      font-size: 8.72504px;
      line-height: 11px;
      line-height: 1;
      padding: 2px 6px 0px 6px;
      right: 0;
      top: 0;
    }
  }

  .navbarItem {
    position: relative;
    padding: 0 16px;
    transition: all .3s ease 0s;
    cursor: pointer;
    border-left: 1px solid #252236;
    display: block;
    height: 100%;
    min-width: 140px;
    
    &:last-child {
      border-right: 1px solid #252236;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      height: 4px;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: linear-gradient(90deg, #BD16F1 0%, #D94AD2 26.35%, #F8AE93 50.31%, #FCEE65 74.79%, #FACC7E 100%);;
      transition: all .3s ease 0s;
    }

    &:hover {
      background-color: #130A3A;
    }

    &.active {
      background: #130A3A;

      &:after {
        opacity: 1;
      }
    }
  }

  .link {
    transition: all .2s ease 0s;
    
    &:hover {
      opacity: .6;
    }
  }

  .menu {
    position: absolute;
    background-color: rgba(9, 5, 29, 0.8);
    border: solid #7204FF 1px;
    border-radius: 12px;
    right: 0;
    top: 120%;
    padding: 8px;
    visibility: hidden;
    opacity: 0;
    min-width: 100%;
    transition: all .2s ease 0s;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}