.container {
  padding: 0;
  border-radius: 24px;
  border: none;
  background: #1C172B;
  position: absolute;
  left: 8px;
  max-width: 393px;
  z-index: 0;
  // bottom: -500px;
  bottom: 0;
  transition: height .3s;
  height: 0;
  overflow: hidden;

  @media (max-width: 430px) {
    max-width: 100%;
    width: 100%;
    left: 0;
  }

  &.show {
    padding: 16px;
    height: 467px;
    border: 1px solid #FFFFFF33;

    @media (max-width: 768px) {
      height: 408px;
    }

    @media (max-width: 430px) {
      height: auto;
    }
  }

  .closeButton {
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 16px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}