.badge {
  padding: 8px;
  background-color: #0E0B23;
  border-radius: 100px;
  border: 0.5px solid #332D52;
  transition: .3s;

  &:hover,
  &.active {
    border: 0.5px solid #7204FF;
    background: rgba(114, 4, 255, 0.32);
  }
}

.menu {
  border-radius: 12px;
  border: 0.5px solid #7204FF;
  background: rgba(8, 5, 28, 0.78);
  box-shadow: 0px 25px 56px 0px rgba(0, 0, 0, 0.10), 0px 101px 101px 0px rgba(0, 0, 0, 0.09), 0px 227px 136px 0px rgba(0, 0, 0, 0.05), 0px 404px 162px 0px rgba(0, 0, 0, 0.01), 0px 631px 177px 0px rgba(0, 0, 0, 0.00);
  backdrop-filter: blur(12px);
  position: absolute;
  // background-color: rgba(9, 5, 29, 0.8);
  // border: solid #7204FF 1px;
  // border-radius: 12px;
  left: 0;
  top: 120%;
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  transition: all .2s ease 0s;
  overflow: hidden;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .item {
    padding: 8px;
    cursor: pointer;
    transition: all .2s ease 0s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

/* @media (max-width: 768px) {
  .menu {
    bottom: 120%;
    top: auto;
  }
} */