.info {
  padding: 8px 16px;
  border-bottom: solid #1C172B 1px;
}

.dropdown {
  padding: 8px;
  border-radius: 12px;
  background-color: #1C172B;

  .image {
    border-radius: 50%;
  }

  .emptyImage {
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(0deg, #6956bc, #311B92);
  }
}

.balanceBox {
  border-radius: 12px;
  border: 1px solid #1D1937;
  background: #0E0B23;
  padding: 16px;
}

.absolute {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.buttonBox {
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  background: #1C163C;
  padding: 16px;
}