.container {
  border-radius: 50px;
  background: linear-gradient(101.49deg, #749828 -1.14%, #674EFF 109.57%);
  padding: 1px;
  height: 48px;
  cursor: pointer;

  .button {
    padding: 0px 46px 0px 46px;
    background: rgb(9, 5, 29);
    border-radius: 50px;
  }
}
