.container {
  flex: 1;
  background-color: #0E0B23;
  border: 1px solid #1D1937;
  border-radius: 2px;
  padding: 16px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    & {
      padding-bottom: 85px;
    }
  }
}

.interval {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  &.active, &:hover {
    background-color: #271574;
  }
}