.container {
  position: relative;

  .option {
    cursor: pointer;
    border-bottom: 4px solid #1D1937;
    padding: 10px 24px;

    &.active,
    &:hover {
      background: #19162D;
    }
  }

  .badge {
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform .2s;
  }

  &.mobile {
    height: 52px;

    .option {
      border-bottom: 2px solid #5E5C6B;

      &.buy {
        border-radius: 20px 0 0 0;
      }

      &.sell {
        border-radius: 0 20px 0 0;
      }
    }

    .badge {
      height: 2px;
    }
  }
}