.container {
  padding: 32px;

  @media (max-width: 768px) {
    padding: 32px 16px;
  }

  .stepBox {
    padding: 16px;
    border-radius: 12px;
    background: #1c192e;

    @media (max-width: 768px) {
      padding: 12px;
    }

    .link {
      color: #4C69FF;
      text-decoration: underline;
      transition: .2s;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

    .address {
      height: 48px;
      width: fit-content;
      padding: 0 16px;
      border-radius: 12px;
      border: 1px solid #1D1937;
      background-color: #0E0B23;

      @media (max-width: 768px) {
        width: 100%;
      }

      .full {
        display: flex;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .short {
        display: none;

        @media (max-width: 768px) {
          display: block;
        }
      }

      .copy {
        cursor: pointer;
      }
    }
  }
}