.topRow {
  height: 34px;
  padding: 0 24px;

  &.buy {
    background-color: #06382F;
  }

  &.sell {
    background-color: #4D0E27;
  }
}

.scrollBox {
  max-height: 120px;
  overflow: auto;

  .row {
    padding: 4px 24px;

    &:nth-of-type(odd) {
      background-color: #120f25;
    }
  }
}