NEXT_PUBLIC_APP_NAME = 'NFT20'
NEXT_PUBLIC_APP_ENV = 'local'
NEXT_PUBLIC_ALCHEMY_ID = 'xiW-Mm57iztWmSH_L9vW9kNlCQ17mlpR' # Eugene's Alchemy Account
NEXT_PUBLIC_INFURA_ID = '4ed9227cd4304bb8bbdba51296286505' # Eugene's Infura Account
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = '43cc67aec8cce5c4a5b591ef512c64e1' # Eugene's WalletConnect Account
NEXT_PUBLIC_RESERVOIR_API_KEY = 'd15cab9d-c06b-56be-8525-ed39428c987b' # Eugene's Reservoir Account
NEXT_PUBLIC_MAGIC_LINK_API_KEY = 'pk_live_589B88D40A90EA0D'