NEXT_PUBLIC_APP_NAME = 'NFT20'
NEXT_PUBLIC_APP_ENV = 'local'
NEXT_PUBLIC_ALCHEMY_ID = 'xiW-Mm57iztWmSH_L9vW9kNlCQ17mlpR' # Eugene's Alchemy Account
NEXT_PUBLIC_INFURA_ID = '4ed9227cd4304bb8bbdba51296286505'
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = '43cc67aec8cce5c4a5b591ef512c64e1'
NEXT_PUBLIC_RESERVOIR_API_KEY = 'd15cab9d-c06b-56be-8525-ed39428c987b'
NEXT_PUBLIC_X_API_KEY = 'c6f8d1e4-70a6-4814-9bda-bcccdbf4ddcd'
NEXT_PUBLIC_ANALYTICS_URL = 'https://analytics.betora.vip:3443/api/v1'