NEXT_PUBLIC_APP_NAME = 'NFT20'
NEXT_PUBLIC_APP_ENV = 'local'
NEXT_PUBLIC_ALCHEMY_ID = 'xiW-Mm57iztWmSH_L9vW9kNlCQ17mlpR' # Eugene's Alchemy Account
NEXT_PUBLIC_INFURA_ID = '4ed9227cd4304bb8bbdba51296286505' # Eugene's Infura Account
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = '43cc67aec8cce5c4a5b591ef512c64e1' # Eugene's WalletConnect Account
NEXT_PUBLIC_RESERVOIR_API_KEY = '41d01c21-78cb-537f-935a-754567ee4fe4' # Eugene's Reservoir Account
NEXT_PUBLIC_MAGIC_LINK_API_KEY = 'pk_live_589B88D40A90EA0D'
NEXT_PUBLIC_WEB3_STORAGE_API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweGUwZDkwMUE1MzAyYTc3QkYxMGI4ZDE3MWJCZmJEZEM3NWZhNzg5NjUiLCJpc3MiOiJ3ZWIzLXN0b3JhZ2UiLCJpYXQiOjE2OTUyNzg3NzY1OTcsIm5hbWUiOiJUZWdybyBSYWZmbGUifQ.O6mMWBepxZ2pOixJprtX30SsGj9XaF2FBUXdSUKF3kk'
NEXT_PUBLIC_FAUCET_CONTRACT = '0xF01Cc4d1B59b9531862B08AeCEF0A8541914E695'

NEXT_PUBLIC_INTERCOM_APP_ID = 'r6phh0rt'
NEXT_PUBLIC_X_API_KEY = 'c6f8d1e4-70a6-4814-9bda-bcccdbf4ddcd'
NEXT_PUBLIC_ANALYTICS_URL = 'https://analytics.api.tegro.com:3443/api/v1'
NEXT_PUBLIC_AMPLITUDE_API_KEY = '7b84af01cb10d5e30db28127ff63a9dc'
NEXT_PUBLIC_1INCH_API_KEY = '0OOKxIl5u9VXkBPa6gjR9lVndQkinokg'

NEXT_PUBLIC_S3_URL = 'https://tegro-imagekit-tora.s3.eu-central-1.amazonaws.com'

NEXT_PUBLIC_AWS_ACCESS_KEY = 'AKIAV2USYD56XKT7WBPA'
NEXT_PUBLIC_AWS_SECRET_KEY = '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'
NEXT_PUBLIC_AWS_REGION: 'eu-central-1'