.ordersButton {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #332D52;
}

.connectorButton {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #332D52;
}

.box {
  padding: 16px;
}

.boxDark {
  padding: 26px;
  background: #08051C;
}