.container {
  height: 358px;
  background-color: #231F38;
  border-radius: 16px;
  background-image: url("/images/tournament/tier_info_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 30px;
}