.container {
  height: 358px;
  background-color: #231F38;
  border-radius: 16px;
  background-image: url("/images/tournament/tier_info_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 30px;

  .progress {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .mobileBenefits {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    flex-direction: column;
    align-items: center;

    .tierInfo {
      align-items: center;
    }

    .progress {
      align-items: flex-start;
      justify-content: flex-end;
    }

    .benefits {
      display: none;
    }
    .mobileBenefits {
      display: flex;
    }
  }
}