.box {
  position: relative;
  z-index: 0;
  flex-basis: calc(25% - 32px * 3 / 4);
  padding: 16px;
  border-radius: 12px;
  background: #18152a;
  box-shadow: 0px 7.08966px 22.88981px 0px rgba(0, 0, 0, 0.08), 0px 35.4483px 140.86035px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  @media (max-width: 768px) {
    flex-basis: calc(50% - 8px);
    padding: 8px;
    border-radius: 4px;
  }

  .circle {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: -1;
    right: -150px;
    top: -150px;
    border-radius: 300px;
    background: #256AAB;
    filter: blur(101.31403350830078px);

    @media (max-width: 768px) {
      width: 200px;
      height: 200px;
      right: -100px;
      top: -100px;
      border-radius: 200px;
    }
  }

  &.disabled {
    opacity: .4;
  }

  &.Active {
    .circle {
      background: #FF7743;
    }
  }

  &.Closed {
    .circle {
      background: #9C9C9C;
    }
  }

  &.Upcoming {
    .circle {
      background: #FFD600;
    }
  }

  .tkeyBadge {
    padding: 8px;
    border-radius: 100px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%), rgba(8, 5, 28, 0.80);
    backdrop-filter: blur(2px);

    @media (max-width: 768px) {
      padding: 6px;
    }
    
    &.Upcoming {
      background: rgba(255, 214, 0, 0.24);
    }
  }
}

.desktopVisible {
  display: inline;
}

.mobileVisible {
  display: none;
}

@media (max-width: 768px) {
  .hiddenOnMobile {
    display: none;
  }

  .box {
    .caseTitle {
      flex-direction: column;
    }
  }

  .desktopVisible {
    display: none;
  }

  .mobileVisible {
    display: inline;
  }
}