.layout {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 25;
  inset: 0;
  overflow: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  backdrop-filter: blur(6px);

  &.fullBody {
    top: 72px;
    z-index: 1;
  }
  
  &::-webkit-scrollbar {
    width: 0;
  }

  .content {
    display: flex;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    width: 100%;

    &.full,
    &.fullBody {
      height: 100%;
    }

    .wrapper {
      border-radius: 8px;
      background-color: #08051C;
      border: solid #1d1937 1px;
      width: 520px;
      max-width: 100%;
      position: relative;
      z-index: 0;
      overflow: hidden;
      margin: auto;

      &.full,
      &.fullBody {
        width: 100%;
        height: 100%;
        border-radius: 0;
        border-color: transparent;
      }

      &.small {
        width: 360px;
      }

      &.large {
        width: 650px;
        overflow: auto;
      }

      .header {
        position: relative;
        z-index: 1;
        border-radius: 8px 8px 0 0;
        background-color: #17142a;
        padding: 12px 16px;
        display: flex;
        flex-direction: row;
        gap: 8;
        align-items: center;
        justify-content: space-between;

        .closeButton {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          opacity: .7;
          transition: all .3s ease 0s;
        
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .layout {
    padding: 0;

    &.fullBody {
      top: 48px;
    }

    .content {
      margin: 0;
      width: 100%;
      align-items: flex-end;

      &.full,
      &.fullBody {
        height: 100%;
      }

      &.toTop {
        align-items: flex-start;
      }

      & > div {
        width: 100%;

        .wrapper {
          width: 100%;
          border-radius: 20px 20px 0 0;

          &.full,
          &.fullBody {
            width: 100%;
            height: 100%;
            border-radius: 0;
          }

          .header {
            .closeButton {
              right: 16px;
              top: 10px;
            }

            .headerContent {
              padding: 16px;
            }
          }
        }
      }
    }
  }
}