.nftItem {
  border: 1px solid #252236;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  cursor: pointer;
  transition: all .3s ease 0s;

  &:hover:not(.disabled):not(.checked) {
    border-color: #2f2a49;
    background-color: rgba(48, 31, 138, 0.1);
  }

  &.disabled {
    opacity: .5;
  }

  &.checked {
    background-color: #120A37;
    border-color: #2E2C4F;
  }

  .nftRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
  }

  .nftPreview {
    width: 106px;
    height: 106px;
    border-radius: 8px;
    border: 1px solid #2E2C4F;
    background-color: #2E2C4F;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .nftInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: calc(100% - 122px);

    .nftTop {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 14px;

      .nftSelect {
        width: 100%;
        height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;

        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #AAA3CF;

        label {
          margin-left: 0;
        }
      }

      .nftTitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .nftId {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #9996B1;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .nftAmount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .nftItem {
    gap: 8px;

    .nftPreview {
      width: 32px;
      height: 32px;
    }
  
    .nftInfo {
      width: calc(100% - 48px);
  
      .nftTop {
        flex-direction: row;
        align-items: center;
        gap: 8px;
  
        .nftSelect {
          .nftSelectText {
            display: none;
          }

          width: auto;
          height: auto;
          order: 2;
        }
  
        .nftTitle {
          order: 1;
        }
      }
    }

    .nftAmount {
      gap: 4px;
    }
  }
}