.badge {
  padding: 8px;
  background-color: #0E0B23;
  border-radius: 100px;
  border: 1px solid #332D52;
  transition: .3s;

  &:hover,
  &.active {
    border: 1px solid #7204FF;
    background: rgba(114, 4, 255, 0.32);
  }

  .badgeTitle {
    @media (max-width: 1100px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    padding: 4px;
  }
}

.isApp {
  .appBadge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    border-radius: 12px;
    background-color: #1C172B;
    gap: 4;

    // &:hover,
    // &.active {
    //   border-color: transparent;
    //   background: transparent;
    // }

    .badgeTitle {
      display: block;
    }
  }
}

.menu {
  border-radius: 10px;
  border: 1px solid #332D52;
  background-color: #060416;
  position: absolute;
  right: 0;
  top: 120%;
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  transition: all .2s ease 0s;
  overflow: hidden;
  padding: 6px 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .item {
    padding: 6px 10px;
    cursor: pointer;
    transition: all .2s ease 0s;

    .imageBox {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 0.642px solid #1D1937;
      background: #0E0B23;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}