.mwebBack {
  @media (max-width: 768px) {
    background: url('/images/hero-background.png') center / cover no-repeat;
  }
}

.container {
  padding: 72px 0 56px;
  background: url('/images/hero-background.png') center / cover no-repeat;

  @media (max-width: 768px) {
    background-image: none;
  }

  .border {
    border-radius: 8px;
    position: relative;
    padding: 8px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: conic-gradient(
        from 0deg,
        rgba(151, 71, 255, 0) 0deg,
        rgba(151, 71, 255, 1) 60deg,
        rgba(151, 71, 255, 0) 120deg,
        rgba(151, 71, 255, 0) 360deg
      );
      transform: rotate(0deg);
      animation: rotate 5s linear infinite;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}