.heroWrapper {
  width: 560px;
  height: 563px;
}

.heroImg {
  position: absolute;
  right: -120px;
  z-index: -1;
  width: 1104px;
  transition: .6s;

  &:hover {
    right: 0;
  }
}

@media (max-width: 1560px) {
  .heroImg {
    right: -280px;
  }
}

@media (max-width: 991px) {
  .textWrapper,
  .textWrapper div {
    align-items: center;
    width: 100%;
  }

  .heroWrapper {
    width: 100%;
    
    .heroImg {
      display: none;
    }
  }
}

@media (max-width: 380px) {
  .heroWrapper {
    width: 100%;
    
    .heroImg {
      display: none;
    }
  }
}

@keyframes circleAnimation {
  0% {
    background-color: #1cbc7c;
  }
  50% {
    background-color: #053421;
  }
  100% {
    background-color: #1cbc7c;
  }
}