.badge {
  position: relative;
  z-index: 0;

  .notMega {
    display: block;
  }

  .isMega {
    display: none;
  }

  &.mega {
    .notMega {
      display: none;
    }

    .isMega {
      display: block;
    }
  }
}