.container {
  overflow: hidden;
  width: 324px;
  min-width: 324px;
  height: 100%;
  background-color: #0E0B23;
  border: solid #19162D 1px;
  border-radius: 4px;

  .header {
    background-color: #1C192F;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .tab {
    cursor: pointer;
    padding: 10px 8px;

    &.active {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
    }
  }

  .badge {
    position: absolute;
    background-color: #B9B8C5;
    height: 2px;
    width: 50%;
    bottom: 0;
    transition: transform .2s;
  }

  .cancelAllButton {
    height: 19px;
    width: 63px;
    border: 1px solid #B9B8C5;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .orderContainer {
    position: relative;
    overflow: hidden;

    &:hover {
      .hoverContent {
        transform: translateX(0%);
      }
    }

    .hoverContent {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background: linear-gradient(90deg, rgba(9,5,29,0) 10%, rgba(9,5,29,1) 20%);
      transform: translateX(100%);
      transition: .2s;

      .actionButton {
        cursor: pointer;
      }
    }
  }

  .order {
    position: relative;

    &:hover {
      cursor: pointer;

      .cancelButton {
        transform: translateX(0%);
      }
    }

    &.disabled {
      .cancelButton {
        .statusText {
          text-transform: capitalize;
        }
      }
    }

    .side {
      position: absolute;
      left: 0;
      height: 100%;
      width: 2px;
    }

    .cancelButton {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform .2s;
    }
  }

  &.mobile {
    width: 100%;
    height: auto;
    position: absolute;
    inset: 0;
    background-color: transparent;

    .badge {
      background-image: linear-gradient(to right, #E792E4, #B545BE 34.167%, #7931CB 69.583%, #4D42C9 100%);
    }

    .orderContainer {
      border-top: solid #000 1px;
      padding: 16px;
      min-height: 124px;

      &:nth-of-type(odd) {
        background-color: #0E0B23;
      }

      .hoverContent {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: calc(100% - 5px);
        padding: 0 15px;
        background: #100E24;
        transform: translateX(100%);
        transition: .2s;

        &.open {
          transform: translateX(0%);
        }
      }

      .progress {
        width: 39px;
        height: 39px;
        position: relative;
        z-index: 0;

        .progressStroke {
          position: absolute;
          z-index: 0;
          left: 0;
          top: 0;
        }

        .progressFill {
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
        }

        .progressText {
          position: absolute;
          z-index: 2;
          inset: 0;
        }
      }
    }

    .currency {
      background-color: #161331;
      padding: 0 12px;
    }
  }
}