.tiger {
  position: relative;
  z-index: 0;

  &:after {
    content: "";
    background: url('/images/points/points-tiger.png') right bottom no-repeat;
    background-size: contain;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}

.background {
  position: relative;
  z-index: 0;

  &:after {
    content: "";
    background: url('/images/points/points-bottom.png') right bottom no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}