.rewardBlock {
  display: flex;
  width: 156px;
  height: 156px;
  padding: 8px 8.345px 8px 7.655px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #EDEDE9;
  background: rgba(141, 153, 174, 0.10);
  backdrop-filter: blur(2px);
  position: relative;

  .bgGlow {
    position: absolute;
    z-index: -2;
    inset: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 260px;
    background: rgba(214, 126, 226, 0.50);
    mix-blend-mode: screen;
    filter: blur(100px);
    animation: pulse 2s infinite alternate;
    left: calc(50% - 150px);
  }

  &.common {
    .bgGlow {
      background: rgba(141, 153, 174, 0.50);
    }
  }

  &.uncommon {
    .bgGlow {
      background: rgba(191, 210, 0, 0.50);
    }
  }

  &.rare {
    .bgGlow {
      background: rgba(1, 73, 124, 0.50);
    }
  }

  &.mythical {
    .bgGlow {
      background: rgba(90, 24, 154, 0.50);
    }
  }

  &.legendary {
    .bgGlow {
      background: rgba(227, 163, 2, 0.50);
    }
  }


  @media (max-width: 360px) {
    width: 134px;
    gap: 4px;
    padding: 2px 4px;
  }

  &.common {
    
  }

  &.uncommon {
    border: 1px solid #BFD200;
    background: rgba(191, 210, 0, 0.10);
  }

  &.rare {
    border: 1px solid #61A5C2;
    background: rgba(1, 73, 124, 0.10);
  }

  &.mythical {
    border: 1px solid #E0AAFF;
    background: rgba(90, 24, 154, 0.10);
  }

  &.legendary {
    border: 1px solid #FFE092;
    background: rgba(227, 163, 2, 0.10);
  }

  .title {
    font-size: 14px;
    font-weight: 500;
  }

  .amount {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
  }

  .currency {
    font-size: 12px;
    font-weight: 600;
  }

  .additionalText {
    font-size: 10px;
    font-weight: 500;
  }
}

@keyframes pulse {
  0% {
    filter: blur(100px);
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    filter: blur(50px);
    opacity: 0.5;
    transform: scale(1.2);
  }
}