
.text {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.4;
  color: #fff;
  text-align: left;
  margin: 0;
  transition: all .2s;

  &.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  &.lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.lowercase {
    text-transform: lowercase;
  }

  &.capitalize {
    text-transform: capitalize;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.italic {
    font-style: italic;
  }

  &.lineThrough {
    text-decoration: line-through;
  }
}