.container {
  display: flex;
  background-color: rgb(44, 47, 54);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  .option {
    flex: 1;
    cursor: pointer;
    padding: 3px 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .badge {
    position: absolute;
    background-color: #000;
    border: 1px solid rgb(44, 47, 54);
    top: 0px;
    bottom: 0px;
    width: calc(100% / 3);
    border-radius: 15px;
    transition: transform .3s;
  }
}