.frame {
  border-radius: 12px;
  border: 1px solid var(--main-strokes-opacity-wihite, rgba(255, 255, 255, 0.10));
  padding: 16px 32px;

  @media (max-width: 768px) {
    padding: 16px;
  }
}

.videoBox {
  padding: 16px;
  border-radius: 12px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), #0B0915;

  @media (max-width: 768px) {
    padding: 8px 16px;
    border-radius: 6px;
  }

  .question {
    width: 64px;
    height: 64px;
    min-width: 64px;
    border-radius: 12px;
    background: #6B41EB;

    @media (max-width: 768px) {
      width: 32px;
      min-width: 32px;
      height: 32px;
    }
  }
}

.box {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);

  .boxInner {
    padding: 16px 76px 16px 16px;
    
    &.notify1 {
      background: url('/images/notify-image-1.webp') right bottom / contain no-repeat;
    }

    &.notify2 {
      background: url('/images/notify-image-2.webp') right bottom / contain no-repeat;
    }

    &.notify3 {
      background: url('/images/notify-image-3.webp') right bottom / contain no-repeat;
    }
  }
}

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.faqItem {
  padding-bottom: 32px;

  @media (max-width: 768px) {
    padding-bottom: 16px;
  }

  &:not(:last-of-type) {
    border-bottom: solid #FFFFFF1A 1px;
  }

  .arrow {
    transition: all .2s;
  }

  .answer {
    overflow: hidden;
    max-height: 0;
    transition: all .2s;;

    .answerInner {
      padding-top: 24px;

      a {
        color: #A6DC37;
        transition: ass .2s;

        &:hover {
          color: #88b926;
        }
      }
    }
  }

  &.open {
    .arrow {
      transform: rotate(180deg);
    }

    .answer {
      max-height: 220px;

      @media (max-width: 768px) {
        max-height: 520px;
      }
    }
  }
}