.container {
  // justify-content: space-between;
  gap: 32px;

  .teamItem {
    flex-direction: column;
    gap: 16px;

    .teamImage {
      width: 192px;
      height: 192px;
      border-radius: 50%;
      overflow: hidden;
      background: grey;
    }
  }
}

@media (max-width: 991px) {
  .container {
    overflow-x: auto;
    
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      width: 2px;
    }
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    // gap: 32px;

    // .teamItem {
    //   .teamImage {
    //     width: 48%;
    //     border-radius: 50%;
    //     overflow: hidden;
    //     background: grey;
    //   }
    // }
  } 
}