.container {
  padding: 32px 0;

  .gradient {
    height: 54px;
    width: 1px;
    background: linear-gradient(180deg, #A6DC37 0%, rgba(255, 255, 255, 0.10) 100%);
  }

  .brettRow {
    padding: 8px 24px;
    border-left: solid #A6DC37 1px;
    border-right: solid #A6DC37 1px;
  }

  .table {
    border: solid rgba(255, 255, 255, 0.10) 1px;
    border-radius: 0 0 12px 12px;

    .row {
      padding: 16px 0;

      &:not(:last-of-type) {
        border-bottom: solid rgba(255, 255, 255, 0.10) 1px;
      }
    }
  }
}