.container {
  border-bottom: 1px solid #FFFFFF1A;

  .tab {
    width: 180px;
    height: 30px;
    border-radius: 62px;
    background-color: #171717;
    cursor: pointer;
    transition: all .3s;

    .text {
      color: #737373;
      transition: all .3s;
    }

    &:hover {
      background-color: #729e19;

      .text {
        color: #1C2C07;
      }
    }

    &.active {
      background-color: #A6DC37;

      .text {
        color: #1C2C07;
      }
    }
  }
}