.container {
  padding: 104px 0 32px;
  background: url('/images/points/points-background.png') left top no-repeat;

  .box {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(158deg, #6B41EB -6.02%, #241164 85.68%);
    padding: 0px 16px;

    @media (max-width: 768px) {
      padding: 16px;
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: #FFFFFF1A;
  }

  .table {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(23, 23, 23, 0.30);
    backdrop-filter: blur(27px);

    .row {
      padding: 8px 24px;

      &:not(:last-of-type) {
        border-bottom: solid rgba(255, 255, 255, 0.10) 1px;
      }

      .claimed {
        border-radius: 50px;
        background: #171717;
      }
    }
  }
}