.collection {
  padding: 8px 16px;
  cursor: pointer;
  transition: all .2s ease 0s;
  background: transparent;
  position: relative;
  z-index: 0;

  &:nth-of-type(odd) {
    background-color: #0E0B23;
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  .secondaryText {
    color: #5E5C6B;
  }

  .emptyImage {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: linear-gradient(0deg, #311B9200, #311B92);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &:hover,
  &.active {
    background: linear-gradient(-90deg, rgba(49, 27, 146, 0.00) 42.09%, #311B92 99.98%);

    .secondaryText {
      color: #B9B8C5;
    }

    .emptyImage {
      background: #16132C;
    }
  }

  @media (max-width: 768px) {
    &:hover,
    &.active {
      background: transparent;

      .secondaryText {
        color: #5E5C6B;
      }

      .emptyImage {
        background: linear-gradient(0deg, #311B9200, #311B92);
      }
    }

    &.withArrow {
      &:hover,
      &.active {
        background: transparent;

        .secondaryText {
          color: #5E5C6B;
        }
      }
    }
  }

  .image {
    border-radius: 4px;
  }

  .glow {
    width: 164px;
    height: 19px;
    position: absolute;
    z-index: 0;
    right: 0px;
    bottom: 30px;
    opacity: 0.5;
    filter: blur(22px);

    &.plus {
      background: linear-gradient(270deg, #00FF75 0%, rgba(44, 248, 138, 0.48) 28.02%, rgba(83, 241, 156, 0.00) 89.56%);
    }

    &.minus {
      background: linear-gradient(270deg, #FF1D61 0%, rgba(255, 29, 97, 0.46) 28.97%, rgba(255, 29, 97, 0.00) 81.04%);
    }
  }
}
