.collection {
  padding: 16px 12px;
  cursor: pointer;
  transition: all .2s ease 0s;
  background: transparent;
  position: relative;
  z-index: 0;
  background-color: #08051C;
  overflow: hidden;

  &:nth-of-type(odd) {
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
    background-color: #0E0B23;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  .emptyImage {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background: linear-gradient(0deg, #311B9200, #311B92);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }
  
  &:hover,
  &.active {
    background: linear-gradient(-90deg, rgba(49, 27, 146, 0.00) 42.09%, #311B92 99.98%);

    .emptyImage {
      background: #16132C;
    }
  }

  @media (max-width: 768px) {
    &:hover,
    &.active {
      background: transparent;

      .secondaryText {
        color: #5E5C6B;
      }

      .emptyImage {
        background: linear-gradient(0deg, #311B9200, #311B92);
      }
    }

    &.withArrow {
      &:hover,
      &.active {
        background: transparent;

        .secondaryText {
          color: #5E5C6B;
        }
      }
    }
  }

  .image {
    border-radius: 4px;
  }

  .glow {
    width: 125px;
    height: 19px;
    position: absolute;
    z-index: 0;
    right: -16.5px;
    top: 0.5px;
    opacity: 0.5;
    filter: blur(14.5px);

    &.plus {
      background: linear-gradient(270deg, rgba(0, 255, 117, 0.60) 0%, rgba(44, 248, 138, 0.29) 28.02%, rgba(83, 241, 156, 0.00) 89.56%);
    }

    &.minus {
      background: linear-gradient(270deg, rgba(255, 0, 77, 0.60) 0%, rgba(248, 44, 80, 0.29) 28.02%, rgba(241, 83, 121, 0.00) 89.56%);
    }
  }
}
