.tabLine {
  height: 3px;
  width: 100%;
  border-radius: 100px;
  background-color: #5E5C6B;

  &.active {
    background-color: #53F19C;
  }
}

.stepBox {
  padding: 4px 8px;
  border-radius: 11px;
  background-color: #17142a;
}

.header {
  position: relative;
  z-index: 0;
  padding: 0 20px;
  height: 47px;
  background-color: #17142a;

  &:not(.result).buy {
    border-bottom: 2px solid #53F19C;
  }

  &:not(.result).sell {
    border-bottom: 2px solid #FF1D61;
  }

  .backButton {
    position: absolute;
    left: 20px;
    transform: rotate(180deg);
  }

  .closeButton {
    position: absolute;
    right: 20px;
  }
}