.container {
  padding-top: 86px;
  background: #121019 url('/images/brett-background.png') center top / contain no-repeat;
  border-radius: 12px 12px 4px 4px;

  @media (max-width: 768px), (max-height: 768px) {
    padding-top: 0;
    background: none;
  }

  .content {
    padding: 20px 12px 12px;

    @media (max-width: 768px), (max-height: 768px) {
      padding: 12px;
    }
  }
}