.button {
  background-color: transparent;
  border: solid #fff 1px;
  border-radius: 4px;
  padding: 10px 12px;
  min-width: 110px;
  color: #fff;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  backdrop-filter: blur(6px);
  transition: all .2s ease 0s;
  cursor: pointer;

  &[disabled] {
    opacity: 0.4;
  }

  &.group {
    border-radius: 0;
    
    &:first-of-type:not(:last-of-type) {
      border-radius: 8px 0 0 8px;

      &.small {
        border-radius: 4px 0 0 4px;
      }
    }

    &:last-of-type:not(:first-of-type) {
      border-radius: 0 8px 8px 0;

      &.small {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  &.active:not(:disabled),
  &:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.rounded {
    border-radius: 20px;
  }

  &.large {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 22px;

    &.rounded {
      border-radius: 22px;
      padding: 8px;
      height: 44px;
    }
  }

  &.small {
    padding: 4px 12px;
    font-size: 12px;
    line-height: normal;
    min-width: 72px;
    border-radius: 4px;

    &.rounded {
      border-radius: 22px;
      padding: 8px;
      height: 44px;
    }
  }

  &.xl {
    display: flex;
    height: 56px;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    &.rounded {
      border-radius: 22px;
      padding: 8px;
      height: 44px;
    }

    &.noPadding {
      padding: 0;
    }
  }

  &.primary {
    background-color: #7204FF;
    border-color: #7204FF;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: #5000b8;
    }

    &.outlined {
      background-color: transparent;
      border-color: #7204FF;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #5000b8;
        background-color: transparent;
      }
    }
  }

  &.gray {
    background-color: #5E5C6B;
    border-color: #5E5C6B;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: #6f6d79;
    }

    &.outlined {
      background-color: transparent;
      border-color: #5E5C6B;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #6f6d79;
        background-color: transparent;
      }
    }
  }

  &.success {
    background-color: #53F19C;
    border-color: #53F19C;
    backdrop-filter: blur(12px);
    color: #09051D;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: rgba(13, 198, 131, 0.8);
    }

    &.outlined {
      background-color: transparent;
      border-color: #53F19C;
      color: #fff;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: rgb(5, 156, 101);
        background-color: transparent;
      }
    }
  }

  &.danger {
    background-color: #C00C4D;
    border-color: #C00C4D;
    backdrop-filter: blur(12px);

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: rgba(192, 12, 77, 0.8);
    }

    &.outlined {
      background-color: transparent;
      border-color: #C00C4D;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: rgb(136, 9, 47);
        background-color: transparent;
      }
    }
  }

  &.muted {
    border-color: #B9B8C5;
    color: #B9B8C5;
    
    &.small {
      padding: 6px 8px;
      border-radius: 2px;
      font-size: 10px;
      line-height: 1;
      font-weight: 600;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.fitWidth {
    width: fit-content;
  }

  &.center {
    align-self: center;
  }
}