.button {
  background-color: transparent;
  border: solid #fff 1px;
  border-radius: 12px;
  padding: 10px 12px;
  min-width: 110px;
  color: #fff;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  backdrop-filter: blur(6px);
  transition: all .2s ease 0s;
  cursor: pointer;

  &[disabled] {
    opacity: 0.4;
  }

  &.group {
    border-radius: 0;
    
    &:first-of-type:not(:last-of-type) {
      border-radius: 8px 0 0 8px;

      &.small {
        border-radius: 4px 0 0 4px;
      }
    }

    &:last-of-type:not(:first-of-type) {
      border-radius: 0 8px 8px 0;

      &.small {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  &.active:not(:disabled),
  &:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.rounded {
    border-radius: 20px;
  }

  &.large {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 18px;
    font-size: 16px;

    &.rounded {
      border-radius: 22px;
      padding: 8px;
      height: 44px;
    }
  }

  &.small {
    padding: 0 12px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    min-width: 72px;
    border-radius: 12px;

    &.rounded {
      border-radius: 22px;
    }
  }

  &.xl {
    display: flex;
    height: 56px;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    &.rounded {
      border-radius: 22px;
      padding: 8px;
      height: 44px;
    }

    &.noPadding {
      padding: 0;
    }
  }

  &.primary {
    background-color: #0052FF;
    border-color: #0052FF;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: #5000b8;
    }

    &.outlined {
      background-color: transparent;
      border-color: #0052FF;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #5000b8;
        background-color: transparent;
      }
    }
  }

  &.primary2 {
    height: 40px;
    background-color: #6B41EB;
    border-color: #6B41EB;
    border-radius: 100px;
    padding: 0 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    border-radius: 12px;

    &.small {
      padding: 0 12px;
      height: 32px;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      min-width: 72px;
      border-radius: 12px;
    }

    &.large {
      height: 60px;
      border-radius: 12px;
      font-size: 20px;
      font-weight: 600;
    }

    &.medium {
      height: 48px;
      border-radius: 12px;
      font-size: 16px;
      font-weight: 600;
    }

    &.quest {
      background: linear-gradient(180deg, #6B41EB -6.02%, #241164 85.68%);
      border-bottom: 2px solid #6B41EB;
    }

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background: #4d29bb;
    }

    &.outlined {
      background-color: transparent;
      border-color: #6B41EB;
      border-width: 2px;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #4d29bb;
        background-color: transparent;
      }
    }

    &.rounded {
      border-radius: 20px;
    }
  }

  &.bot {
    height: 40px;
    background-color: #6B41EB;
    border-color: #6B41EB;
    border-radius: 100px;
    padding: 0 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    border-radius: 12px;

    &.small {
      padding: 0 8px;
      height: 37px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      border-radius: 6px;
    }

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background: #4d29bb;
    }

    &.outlined {
      background: transparent;
    }
  }

  &.bot-default {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.07);
    border-color: transparent;
    border-radius: 100px;
    padding: 0 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    border-radius: 12px;

    &.small {
      padding: 0 8px;
      height: 36px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      border-radius: 6px;
    }

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background: rgba(255, 255, 255, 0.14);
    }
  }

  &.twitter {
    height: 40px;
    background: linear-gradient(180deg, #1DA1F2 -6.02%, #068ADB 85.68%);
    border-color: transparent;
    border-bottom: 2px solid #68B9EB;
    border-radius: 100px;
    padding: 0 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    border-radius: 12px;

    &.small {
      padding: 0 12px;
      height: 32px;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      min-width: 72px;
      border-radius: 12px;
    }

    &.large {
      height: 60px;
      border-radius: 12px;
      font-size: 20px;
      font-weight: 600;
    }

    &.medium {
      height: 48px;
      border-radius: 12px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &.telegram {
    height: 40px;
    background: linear-gradient(180deg, #30A9DD 0%, #208BD4 100%);
    border-color: transparent;
    border: 1px solid #68B9EB;
    border-radius: 12px;
    padding: 0 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    border-radius: 12px;

    &.small {
      padding: 0 16px;
      height: 32px;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      border-radius: 6px;
    }

    &.large {
      height: 60px;
      border-radius: 12px;
      font-size: 20px;
      font-weight: 600;
    }

    &.medium {
      height: 48px;
      border-radius: 12px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &.secondary2 {
    height: 48px;
    background-color: #A6DC37;
    border-color: #A6DC37;
    border-radius: 100px;
    padding: 0 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #1C2C07;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: #8abd24;
    }

    &.outlined {
      background-color: transparent;
      border-color: #A6DC37;
      color: #A6DC37;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #8abd24;
        background-color: transparent;
      }
    }

    &.xs {
      height: 28px;
      font-size: 14px;
    }
  }

  &.default2 {
    height: 48px;
    background-color: #FFFFFF1A;
    border-color: #FFFFFF1A;
    border-radius: 100px;
    padding: 0 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: transparent;
    }

    &.outlined {
      background-color: transparent;
      border-color: #FFFFFF1A;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #ffffff3f;
        background-color: transparent;
      }
    }
  }

  &.gray {
    background-color: #5E5C6B;
    border-color: #5E5C6B;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: #6f6d79;
    }

    &.outlined {
      background-color: transparent;
      border-color: #5E5C6B;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #6f6d79;
        background-color: transparent;
      }
    }
  }

  &.success {
    background-color: #53F19C;
    border-color: #53F19C;
    backdrop-filter: blur(12px);
    color: #09051D;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: rgba(13, 198, 131, 0.8);
    }

    &.outlined {
      background-color: transparent;
      border-color: #53F19C;
      color: #fff;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: rgb(5, 156, 101);
        background-color: transparent;
      }
    }
  }

  &.danger {
    background-color: #C00C4D;
    border-color: #C00C4D;
    backdrop-filter: blur(12px);

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: rgba(192, 12, 77, 0.8);
    }

    &.outlined {
      background-color: transparent;
      border-color: #C00C4D;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: rgb(136, 9, 47);
        background-color: transparent;
      }
    }
  }

  &.muted {
    border-color: #B9B8C5;
    color: #B9B8C5;
    
    &.small {
      padding: 6px 8px;
      border-radius: 2px;
      font-size: 10px;
      line-height: 1;
      font-weight: 600;
    }
  }

  &.tournament {

  }

  &.fullWidth {
    width: 100%;
  }

  &.fitWidth {
    width: fit-content;
  }

  &.center {
    align-self: center;
  }
}