.earningsWrapper {
  border-radius: 12px;
  background: linear-gradient(158deg, #5028C8 -6.02%, #241452 85.68%);
  box-shadow: 0px 4px 0px 0px #5028C8;
  padding: 8px;

  .header {
    background: linear-gradient(90deg, #6B41EB 0%, #6342C7 100%);
    height: 46px;
    padding: 0px 8px;
    border-radius: 10px 10px 0 0;

    .headerText {
      color: #A6DC37;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .row {
    padding: 0 8px 8px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.10);
    

    .circle {
      width: 8px;
      min-width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #FFBB01;
      margin-top: 4px;

      &.ready {
        background-color: #53F19C;
      }
    }
  }

  .claimed {
    height: 32px;
    border-radius: 8px;
    border: 1px solid #517714;
    padding: 0 16px;

    &.page {
      height: 40px;
    }
  }
}

.emptyBox {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  padding: 16px;
}

.frame {
  border-radius: 6px;
  border: 1px solid #6B41EB;
  background: rgba(107, 65, 235, 0.20);
  padding: 12px 8px;
}

.taskContainer {
  border-radius: 12px;
  background: linear-gradient(95deg, #449CED -2.37%, #1958BF 99.19%);
  box-shadow: 1.094px 2.188px 2.188px 0px rgba(0, 0, 0, 0.50);

  .title {
    padding: 16px;
  }
}

.bottom {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 8px;
  right: 8px;
  background-color: #08051C;
  padding: 8px 0;
}