.container {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 90px 0 24px;
  background: url('/images/points/points-background.png') left top no-repeat;
  background-size: contain;
  min-height: 100vh;

  .gradient {
    height: 54px;
    width: 1px;
    background: linear-gradient(180deg, #A6DC37 0%, rgba(255, 255, 255, 0.10) 100%);
  }

  .table {
    border: solid rgba(255, 255, 255, 0.10) 1px;
    border-radius: 0 0 12px 12px;

    .row {
      padding: 16px 24px;

      &:not(:last-of-type) {
        border-bottom: solid rgba(255, 255, 255, 0.10) 1px;
      }

      @media (max-width: 768px) {
        padding: 8px;
      }
    }
  }

  .cupBox {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: linear-gradient(158deg, #5028C8 -6.02%, #241452 85.68%);
  }
}