.infoRow {
  padding: 12px 26px;
  background-color: #08051C;
  border-bottom: 1px solid #2E2C4F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  .infoCollection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;

    .infoCollectionRight {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      .infoCollectionName {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
      }

      .infoCollectionId {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #9996B1;
      }
    }
  }

  .selectedCount {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }
}

.content {
  height: 300px;
  padding: 36px 26px;
  background-color: #08051C;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .walletLogo {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: #120F25;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 51px;
      height: 51px;
    }
  }

  .step {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #8176B8;
  }

  .message {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    max-width: 60%;
  }

  .bottomText {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #9996B1;
    max-width: 60%;
  }
}

.bottom {
  background-color: #120F25;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .backLink {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #AAA3CF;
    cursor: pointer;
    transition: all .1s ease 0s;

    &:hover {
      color: #8f88b3;
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .content {
    .message {
      max-width: none;
    }
  
    .bottomText {
      max-width: none;
    }
  }

  .bottom {
    padding: 16px 26px;
    gap: 16px;
  }
}