.container {
  border-top: 1px solid #FFFFFF1A;
  padding: 24px 0;

  @media (max-width: 768px) {
    padding: 24px 0;
  }

  .line {
    width: 1px;
    height: 16px;
    background-color: #6F6C88;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .link {
    opacity: .7;
    transition: all .2s;

    &:hover {
      opacity: 1;
    }
  }
}

.bottom {
  border-top: 1px solid #FFFFFF1A;
  padding: 24px 0;
}