.container {
  position: relative;
  z-index: 1;
}

.statsBox {
  border-radius: 16px;
  background: radial-gradient(113.88% 113.88% at 67.99% -35.17%, #231F38 0%, #100D21 100%);
  padding: 16px;

  @media (max-width: 768px) {
    padding: 24px;
  }

  &.newGradient {
    background: radial-gradient(751.8% 165.3% at 71.74% -97.8%, #100D21 0%, #231F38 100%);
    border: 1px solid #749828;
    position: relative;
    overflow: hidden;
  }

  &.noPadding {
    padding: 0;
  }

  .gasBack {
    padding: 16px;
    border-radius: 16px;
    background: url('/images/home/nstats-1.png') right top no-repeat;
  }

  .volumeBack {
    padding: 16px;
    border-radius: 16px;
    background: url('/images/home/nstats-2.png') right top no-repeat;
  }
}

.statsGradientBox {
  padding: 16px;
  background: linear-gradient(101.49deg, #749828 -1.14%, #674EFF 109.57%);
  border-radius: 16px;

  @media (max-width: 768px) {
    padding: 24px;
  }
}

.img {
  max-width: 100%;
}

.relative {
  position: relative;
  z-index: 0;
}

.absolute {
  position: absolute;
  z-index: 0;

  &.left {
    top: 0;
    left: 0;
    bottom: 0;
  }

  &.bottom {
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.bottomText {
  a {
    color: #7E91F1;
    transition: all .2s;

    &:hover {
      color: #6173d2;
    }
  }
}