.box {
  border: 1px solid #574E74;
  border-radius: 16px;
  background: radial-gradient(113.88% 113.88% at 67.99% -35.17%, #231F38 0%, #100D21 100%);

  &.gradient {
    background: linear-gradient(101.49deg, #749828 -1.14%, #674EFF 109.57%);
    border: 0;
  }

  .inner {
    padding: 24px;
    border-radius: 16px;

    &.inner1 {
      background: url('/images/home/features-new-1.png') center bottom / contain no-repeat;
      height: 458px;
    }

    &.inner2 {
      background: url('/images/home/features-new-2.png') center bottom / contain no-repeat;
    }

    &.inner3 {
      background: url('/images/home/features-new-3.png') right center / contain no-repeat;
    }
  }
}