.box {
  border: 1px solid #574E74;
  border-radius: 16px;
  background: radial-gradient(113.88% 113.88% at 67.99% -35.17%, #231F38 0%, #100D21 100%);

  .inner {
    padding: 24px;
    border-radius: 16px;

    &.inner1 {
      background: url('/images/home/features-new-1.png') center bottom / contain no-repeat;
      height: 458px;
    }

    &.inner2 {
      background: url('/images/home/features-new-2.png') center bottom / contain no-repeat;
    }
  }
}