.container {
  border-radius: 12px;
  padding: 16px;
  gap: 16px;
  width: 100%;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 10px 72px 0px rgba(0, 0, 0, 0.11), 0px 2px 11.7px 0px rgba(0, 0, 0, 0.05);

  .taskContainer {
    border-radius: 12px;
    background: linear-gradient(95deg, #449CED -2.37%, #1958BF 99.19%);
    box-shadow: 1.094px 2.188px 2.188px 0px rgba(0, 0, 0, 0.50);

    .title {
      padding: 16px 16px 8px;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.60);
    }

    .body {
      padding: 12px 16px 16px;
    }
  }

  .claimed {
    height: 40px;
    border: 1px solid #A6DC37;
    border-radius: 12px;
  }
}