.container {
  height: 40px;
  position: relative;
  .option {
    cursor: pointer;
    border-bottom: 4px solid #1D1937;
  }
  .badge {
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform .2s;
  }
}