.container {
  padding: 16px;
  border-radius: 24px;
  border: 1px solid #FFFFFF33;
  background: #1C172B;
  position: absolute;
  left: 8px;
  max-width: 393px;
  z-index: 0;
  bottom: -500px;
  transition: .3s;

  @media (max-width: 640px) {
    max-width: 100%;
    width: 100%;
    left: 0;
  }

  &.show {
    bottom: 8px;
  }

  .closeButton {
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 16px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}