.container {
  padding: 32px 0;

  .overall {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    width: 792px;
    height: 300px;
    position: relative;
    z-index: 0;
    padding: 20px;

    @media (max-width: 768px) {
      width: 100%;
      padding: 8px;
    }

    .overallBox {
      border-radius: 12px;
      background: linear-gradient(180deg, #6B41EB -6.02%, #241164 85.68%);
      height: 42px;
      width: 315px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .glow {
      position: absolute;
      inset: 0;
      z-index: -1;
      overflow: hidden;
      
      &:before {
        content: '';
        display: block;
        width: 488.471px;
        height: 488.471px;
        flex-shrink: 0;
        border-radius: 488.471px;
        background: rgba(120, 121, 241, 0.50);
        filter: blur(67px);
        position: absolute;
        top: -420px;
        left: 50%;
        margin-left: -244px;

        @media (max-width: 768px) {
          width: 256px;
          height: 256px;
          top: -230px;
          margin-left: -128px;
        }
      }
    }

    .overallSlider {
      position: absolute;
      top: 0;
      left: 104px;
      right: 0;
      bottom: 0;
      padding: 0 44px;
      z-index: 0;

      @media (max-width: 768px) {
        left: 0;
        top: 122px;
        padding: 0 20px;
      }

      .dashedTop {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 1px;
          background: linear-gradient(180deg, transparent, #5E5C6B);
          -webkit-mask-image: repeating-linear-gradient(
            0deg, transparent, red 1px 5px, transparent 6px 10px);
          mask-image: repeating-linear-gradient(
            0deg, transparent, red 1px 5px, transparent 6px 10px);
        }

        &:last-of-type {
          &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background: linear-gradient(180deg, transparent, #5E5C6B);
            -webkit-mask-image: repeating-linear-gradient(
              0deg, transparent, red 1px 5px, transparent 6px 10px);
            mask-image: repeating-linear-gradient(
              0deg, transparent, red 1px 5px, transparent 6px 10px);
          }
        }
      }

      .dashedBottom {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 1px;
          background: linear-gradient(0deg, transparent, #5E5C6B);
          -webkit-mask-image: repeating-linear-gradient(
            0deg, transparent, red 1px 5px, transparent 6px 10px);
          mask-image: repeating-linear-gradient(
            0deg, transparent, red 1px 5px, transparent 6px 10px);
        }

        &:last-of-type {
          &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background: linear-gradient(0deg, transparent, #5E5C6B);
            -webkit-mask-image: repeating-linear-gradient(
              0deg, transparent, red 1px 5px, transparent 6px 10px);
            mask-image: repeating-linear-gradient(
              0deg, transparent, red 1px 5px, transparent 6px 10px);
          }
        }

        .text {
          width: 80px;
          height: 40px;
          position: absolute;
          z-index: 0;
          top: 20px;
          left: -40px;
        }

        .textLast {
          width: 80px;
          height: 40px;
          position: absolute;
          z-index: 0;
          top: 20px;
          right: -40px;
        }
      }
    }
  }

  .box {
    height: 96px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 16px 120px 16px 16px;

    &.box1 {
      background: url('/images/gems/gems-refer1.png') right bottom no-repeat, radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    }

    &.box2 {
      background: url('/images/gems/gems-refer2.png') right bottom no-repeat, radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    }

    &.box3 {
      background: url('/images/gems/gems-refer3.png') right bottom no-repeat, radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.10);
  }

  .copyAddress {
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #0A0A0A;
    padding: 0 16px;
    height: 48px;
    cursor: pointer;
  }

  .topBox {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    padding: 16px;

    @media (max-width: 768px) {
      padding: 8px;
    }

    .insideBox {
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.10);
      background: linear-gradient(158deg, #6B41EB -6.02%, #241164 85.68%);
      padding: 16px;

      @media (max-width: 768px) {
        padding: 16px 0;
      }
    }
  }
}