.button {
  border: solid #1a2728 1px;
  background-color: #1a2728;
  padding: 6px 16px;
  border-radius: 4px;
  transition: all .2s;

  .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1cbc7c;
  }

  &:hover {
    background-color: #1c3428;
  }
}