.container {
  background: url('/images/gems/gems-background.png') left top no-repeat;
  min-height: 100vh;

  .tiger {
    background: url('/images/gems/gems-tiger.png') right bottom no-repeat;
    background-size: contain;
    height: 100vh;
  }
}

.hr {
  height: 20px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: .5;
}