.container {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 90px 0 24px;
  background: url('/images/points/points-background.png') left top no-repeat;
  background-size: contain;

  .relative {
    position: relative;
    z-index: 0;
    overflow-y: auto;

    .scroll {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;

      .line {
        width: 100%;
        height: 1px;
        background-color: #27203C;
      }

      .status {
        padding: 4px 20px;
        border-radius: 8px;
  
        &.trade {
          background-color: #06382F;
        }
  
        &.deposit {
          background-color: #381C8C;
        }
      }
    }
  }
}