.container {
  padding: 24px 24px 0;
  min-height: 100%;
  // position: relative;
  // z-index: 10;

  @media (max-width: 768px) {
    & {
      padding: 0;
      width: 100%;
      height: 100%;
    }

    .tradesContent {
      position: absolute;
      z-index: 0;
      inset: 0 0 69px;
    }
  }
}

.ordersHeader {
  border-bottom: 1px solid #1D1B2B;
  position: relative;
  z-index: 0;

  .ordersBack {
    position: absolute;
    z-index: 0;
    left: 16px;
  }
}