.container {
  padding: 80px 8px 8px;
  height: 100%;
  width: 100%;
  // min-height: 870px;
  max-height: 900px;

  &.appContainer {
    background-color: #05050b;
  }

  @media (max-width: 1100px) {
    height: 100%;
  }

  @media (max-width: 768px) {
    padding: 60px 0 0;
    width: 100%;
    height: 100%;
    min-height: 500px;

    &.appContainer {
      padding-top: 0;
    }

    .tradesContent {
      position: absolute;
      z-index: 0;
      inset: 0 0 69px;
    }
  }

  .partRight {
    height: 100%;
    width: calc(100% - 237px - 8px);

    &Top {
      width: 100%;
      // height: calc(100% - 372px - 8px);
      height: 50%;
      flex-direction: row;

      // @media (max-width: 1400px) {
      //   height: calc(100% - 326px - 8px);
      // }

      @media (max-width: 1100px) {
        height: 400px;
      }

      @media (max-width: 950px) {
        flex-direction: column;
        height: 790px;
      }

      &Chart {
        height: 100%;
        width: calc(100% - 324px - 8px);

        @media (max-width: 950px) {
          width: 100%;
          height: 400px;
        }
      }
    }

    &Bottom {
      width: 100%;
      // height: 372px;
      // min-height: 372px;
      height: 50%;
      flex-direction: row;

      @media (max-width: 1100px) {
        height: 752px;
        min-height: 752px;
      }

      @media (max-width: 950px) {
        flex-direction: column;
        height: 1132px;
        min-height: 1132px;
      }

      &Sales {
        flex-direction: row;
        height: 100%;
        width: calc(100% - 324px - 8px);

        @media (max-width: 1100px) {
          flex-direction: column;
        }

        @media (max-width: 950px) {
          width: 100%;
        }
      }
    }
  }
}

.ordersHeader {
  border-bottom: 1px solid #1D1B2B;
  position: relative;
  z-index: 0;

  .ordersBack {
    position: absolute;
    z-index: 0;
    left: 16px;
  }
}

.card {
  border-radius: 4px;
  border: 1px solid #19162D;
  background: #0E0B23;
}

.devModeButton {
  position: absolute;
  z-index: 200;
  bottom: 24px;
  left: 50%;
  margin-left: -55px;
  width: 110px;
}

.appLoader {
  position: fixed;
  inset: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
}