.content {
  [class*="TokenOptions__OnHover"],
  [class*="BrandedFooter"] {
    display: none !important;
  }

  [class*="TokenButton__TokenButtonRow"],
  [class*="ReverseButton__StyledReverseButton"] {
    color: #fff !important;

    svg {
      stroke: #fff !important;
    }
  }
}