.stepTitle {
  font-family: 'ClashDisplay';
  background: linear-gradient(151deg, #FFF -0.73%, rgba(255, 255, 255, 0.50) 132.2%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 11;
}