.collection {
  padding: 4px 16px;
  cursor: pointer;
  transition: all .2s ease 0s;
  background: transparent;
  border-bottom: solid #08051C 2px;
  position: relative;
  z-index: 0;

  & > * {
    position: relative;
    z-index: 1;
  }

  .secondaryText {
    color: #5E5C6B;
  }
  
  &:hover,
  &.active {
    background: linear-gradient(-90deg, #311B9200, #311B92);

    .secondaryText {
      color: #B9B8C5;
    }
  }

  @media (max-width: 768px) {
    &.withArrow {
      &:hover,
      &.active {
        background: transparent;

        .secondaryText {
          color: #5E5C6B;
        }
      }
    }
  }

  .image {
    border-radius: 4px;
  }

  .glow {
    width: 164px;
    height: 19px;
    position: absolute;
    z-index: 0;
    right: 0px;
    bottom: 30px;
    opacity: 0.5;
    filter: blur(22px);

    &.plus {
      background: linear-gradient(270deg, rgba(0, 255, 117, 0.60) 0%, rgba(44, 248, 138, 0.29) 15.42%, rgba(83, 241, 156, 0.00) 49.27%);
    }

    &.minus {
      background: linear-gradient(270deg, rgba(255, 29, 97, 0.60) 0%, rgba(255, 29, 97, 0.28) 15.94%, rgba(255, 29, 97, 0.00) 44.58%);
    }
  }
}