.container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 100%;
  background: #08051C;
  border-radius: 20px;
  transition: all .2s ease 0s;

  &.open {
    top: 0;
  }

  .header {
    position: relative;
    z-index: 0;
    border-bottom: solid #1D1937 1px;
    background: #120F25;

    .closeButton {
      position: absolute;
      z-index: 3;
      width: 34px;
      height: 34px;
      right: 20px;
      top: 20px;
      background: #120A37;
      border: 1px solid #2E2C4F;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all .3s ease 0s;
    
      &:hover {
        background: #231757;
      }
    }

    .headerContent {
      padding: 26px 26px 18px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .item {
    border-radius: 12px;
    background-color: #120F25;
    padding: 8px;
    border: solid #1D1937 1px;
    cursor: pointer;
    transition: all .2s ease 0s;

    &:hover,
    &.active {
      background-color: #1c183a;
      border-color: #262049
    }

    .imagePlaceholder {
      background: linear-gradient(180deg, #401698 0%, #29015B 100%);
    }
  }
}