.container {
  position: relative;
  z-index: 1;

  .box {
    width: 310px;
    position: relative;
    z-index: 0;
    padding: 55px;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 310px;
      border-radius: 102.495px;
      border: 0.827px solid rgba(255, 255, 255, 0.26);
      background: linear-gradient(104deg, rgba(0, 255, 255, 0.20) 2.63%, rgba(189, 0, 255, 0.20) 100%);
      filter: blur(134.31869506835938px);
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
    }

    .circle {
      position: relative;
      z-index: 1;
      width: 200px;
      height: 200px;
      border-radius: 104.975px;
      border: 2.48px solid rgba(255, 255, 255, 0.26);
      background: linear-gradient(104deg, rgba(255, 255, 255, 0.12) 2.63%, rgba(255, 255, 255, 0.04) 100%);
      backdrop-filter: blur(4.132883071899414px);
    }

    .social {
      width: 34px;
      height: 35px;
      background: url('/images/landing/social-box-small.png') center no-repeat;
      opacity: .7;
      transition: .2s all;

      &:hover {
        opacity: 1;
        transform: scale(1.2);
        filter: brightness(1.3);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .box {
      width: 50%;
      padding: 15px;

      .circle {
        width: 135px;
        height: 135px;
        border-radius: 50%;
      }
    }
  }
}