.container {
  position: relative;

  .tab {
    padding: 0px 8px 4px 8px;
    cursor: pointer;
    // display: flex;
  }

  .badge {
    position: absolute;
    width: 100px;
    height: 2px;
    bottom: 0;
    background-color: #B9B8C5;
    transition: transform .2s, width .2s;
  }
}