.widget {
  .bad-quest__container {
    .bad-quest__view {
      .bad-quest__progress {
        display: none;
      }
    }
  }
}

.frame {
  background: url('/images/points/points-frame.png') center / contain no-repeat;
}

.claimed {
  border-radius: 50px;
  background-color: #2d293a;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF1A;
}