.titleBlock {
  max-width: 340px;
  height: 96px;
  padding: 16px;
  gap: 16px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(64, 22, 152, 0.40) 0%, rgba(41, 1, 91, 0.40) 100%);

  &.Common {
    background: linear-gradient(148deg, #EDEDE9 12.55%, #8D99AE 86.73%);

    & div {
      color: #08051C;
    }
  }

  &.Uncommon {
    background: linear-gradient(148deg, #BFD200 12.55%, #007F5F 86.73%);
  }

  &.Rare {
    background: linear-gradient(148deg, #61A5C2 12.55%, #61A5C2 12.55%, #01497C 86.73%);
  }

  &.Mythical {
    background: linear-gradient(148deg, #E0AAFF 12.55%, #5A189A 86.73%);
  }

  &.Legendary {
    background: linear-gradient(148deg, #FFE092 12.55%, #E3A302 86.73%);
    
    & div {
      color: #08051C;
    }
  }
}

.confetti {
  position: fixed;
  inset: 0;
  z-index: 1;
}