.box {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);

  .boxInner {
    padding: 16px 76px 16px 16px;
    
    &.notify1 {
      background: url('/images/notify-image-1.webp') right bottom / contain no-repeat;
    }

    &.notify2 {
      background: url('/images/notify-image-2.webp') right bottom / contain no-repeat;
    }

    &.notify3 {
      background: url('/images/notify-image-3.webp') right bottom / contain no-repeat;
    }
  }
}

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}