.container {
  position: fixed;
  left: 8px;
  bottom: 0;
  width: 394px;

  .bannerBox {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    width: 100%;

    &.show {
      height: 244px;
    }

    .banner {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      padding: 24px 16px 16px 16px;
      border-radius: 12px;
      border: 1px solid #8E70EA;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%), #0B0915;
      box-shadow: 0px 10px 72px 0px rgba(0, 0, 0, 0.11), 0px 2px 11.7px 0px rgba(0, 0, 0, 0.05);
    }

    .content {
      padding: 16px;
      border-radius: 12px;
      background: radial-gradient(134.18% 120.73% at 67.99% -35.17%, #231F38 0%, #100D21 100%);
    }
  }
}