.container {
  padding: 32px 0;

  .overall {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    width: 894px;
    height: 300px;
    position: relative;
    z-index: 0;
    padding: 20px;

    .overallBox {
      border-radius: 5px;
      border: 1px solid #6B41EB;
      padding: 10px;
      width: 185px;
    }
  }

  .box {
    height: 96px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 16px 120px 16px 16px;

    &.box1 {
      background: url('/images/points/points-refer1.png') right bottom no-repeat, radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    }

    &.box2 {
      background: url('/images/points/points-refer2.png') right bottom no-repeat, radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    }

    &.box3 {
      background: url('/images/points/points-refer3.png') right bottom no-repeat, radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.10);
  }

  .copyAddress {
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #0A0A0A;
    padding: 0 16px;
    height: 48px;
    cursor: pointer;
  }

  .topBox {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: radial-gradient(134.18% 120.73% at 67.99% -35.17%, #352668 0%, #140E28 100%);
    padding: 16px;

    .insideBox {
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.10);
      background: linear-gradient(158deg, #6B41EB -6.02%, #241164 85.68%);
      padding: 16px;
    }
  }
}