$color: #AAA3CF;
$colorFocused: #AAA3CF;
$colorDisabled: #AAA3CF;
$colorError: #FF1D61;

$colorPlacehoder: #9996B1;
$colorText: #fff;
$colorBorder: #2E2C4F;

$borderRadius: 12px;

.textField {
  .label {
    color: $color;
    font-weight: 500;
    font-family: 'Gilroy';
    font-size: 16px;

    &.label_focused {
      color: $colorFocused;
    }

    &.label_disabled {
      color: $colorDisabled;
    }

    &.label_error {
      color: $colorError;
    }
  }

  .helper {
    font-family: 'Gilroy';

    &.helper_error {
      color: $colorError;
    }
  }

  .input {
    .input_input {
      font-weight: 500;
      font-family: 'Gilroy';
      font-size: 16px;
      color: $colorText;

      &::placeholder {
        color: $colorPlacehoder;
        font-weight: 500;
        font-family: 'Gilroy';
        font-size: 16px;
        text-overflow: ellipsis !important;
      }

      &[type=number] {
        appearance: textfield;
        -moz-appearance: textfield;
      }

      &[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .input_fieldset {
      border-color: $colorBorder;
      border-radius: $borderRadius;
    }

    &:hover,
    &.input_focused,
    &.input_disabled {
      .input_input {
        -webkit-text-fill-color: initial;
      }

      .input_fieldset {
        border-color: $colorBorder;
      }
    }

    &.input_error {
      .input_fieldset {
        border-color: $colorError;
      }
    }
  }

  /* variant: search */
  &.search {
    .input {
      background-color: #1c192e;
      padding-left: 16px;

      .input_input {
        font-size: 12px;
        line-height: 24px;
        padding: 10px 16px 10px 0;

        &::placeholder {
          color: #5E5C6B;
          font-size: 12px;
          line-height: 24px;
          font-feature-settings: 'clig' off, 'liga' off;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          opacity: 1;
        }
      }

      .input_fieldset {
        border-radius: 4px;
        border-color: transparent;
      }
    }

    &.notEmpty {
      .input {
        &:hover,
        &.input_focused,
        &.input_disabled {
          .input_fieldset {
            border-color: transparent;
          }
        }
      }
    }
  }

  /* variant: search-app */
  &.search-app {
    .input {
      background-color: #1c192e;
      padding-left: 16px;

      .input_input {
        font-size: 16px;
        line-height: 32px;
        padding: 10px 16px 10px 0;

        &::placeholder {
          color: #5E5C6B;
          font-size: 16px;
          line-height: 32px;
          font-feature-settings: 'clig' off, 'liga' off;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          opacity: 1;
        }
      }

      .input_fieldset {
        border-radius: 4px;
        border-color: transparent;
      }
    }

    &.notEmpty {
      .input {
        &:hover,
        &.input_focused,
        &.input_disabled {
          .input_fieldset {
            border-color: transparent;
          }
        }
      }
    }
  }

  /* variant: search-light */
  &.search-light {
    .input {
      background-color: #17142a;
      width: 248px;
      height: 48px;
      border-radius: 8px;

      @media (max-width: 768px) {
        width: 100%;
      }

      .input_fieldset {
        border-radius: 8px;
        border: 0;
      }
    }

    &.notEmpty {
      .input {
        background-color: #262242;
      }
    }
  }
}