.row {
  position: relative;
  padding: 0 8px;
  .fill {
    position: absolute;
    height: 100%;

    &.buy {
      right: 0;
      background-color: #06382f;
    }

    &.sell {
      left: 0;
      background-color: #4d0e27;
    }
  }
}