.top {
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: no-repeat right center url('/images/raffle/top-background-1.png'), no-repeat center bottom url('/images/raffle/top-background-2.png');
  background-size: contain, cover;
  background-color: #08051C;
  padding: 64px 0;

  @media (max-width: 768px) {
    padding: 34px 0;
    background: no-repeat right top url('/images/raffle/top-background-1-m.png'), no-repeat center bottom url('/images/raffle/top-background-2.png');
    background-size: 190px 187px, auto;
  }
  
  .linkButton {
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid #7204FF;
    margin-top: 4px;
    cursor: pointer;
    transition: .4s;

    &:hover {
      background: #7204FF;
    }
  }

  .firstTimeBanner {
    position: relative;
    height: 76px;
    padding: 10px 16px 10px 32px;
    align-items: center;
    gap: 64px;
    border-radius: 100px;
    border: 1px solid #7204FF;
    background: linear-gradient(180deg, #401698 0%, #0A0017 100%);
    box-shadow: 0px 0.18631px 2.23569px 0px rgba(77, 53, 130, 0.04), 0px 0.44772px 5.37266px 0px rgba(77, 53, 130, 0.06), 0px 0.84302px 10.11625px 0px rgba(77, 53, 130, 0.07), 0px 1.5038px 18.04566px 0px rgba(77, 53, 130, 0.08), 0px 2.8127px 33.75242px 0px rgba(77, 53, 130, 0.10), 0px 6.73256px 80.7907px 0px rgba(77, 53, 130, 0.14), 0px 5px 16px 1px rgba(47, 8, 89, 0.05);

    @media (max-width: 768px) {
      flex-direction: column;
      height: 100%;
      gap: 8px;
      padding: 10px 16px 24px 16px;
      border-radius: 24px;
    }

    .caseContainer {
      flex-direction: row;
      // justify-content: ;

      @media (max-width: 768px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 0;
      }
    }

    .firstTimeCaseContainer {
      width: 82px;
      height: 100%;
      position: relative;

      .firstTimeCase {
        animation: rotateAndMove 2s linear infinite;
        position: absolute;
      }
    }
  }

  .box {
    padding: 16px 32px;
    border-radius: 100px;
    border: 1px solid #8C442470;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(21px);
    box-shadow: inset 1px 1px 0 #ffffff90, inset -1px -1px 0 #F53E0290;
  }

  .button {
    position: relative;
    z-index: 0;
    padding: 16px;
    border-radius: 100px;
    border: 0.5px solid #ffffff90;
    cursor: pointer;
    overflow: hidden;
    height: 40px;

    &.primary {
      background-color: #7204FF;
      border-color: #7204FF;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      inset: 0;
      background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
      backdrop-filter: blur(21px);
      border-radius: 100px;
      transition: all .2s ease 0s;
      opacity: 0;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}

.awards {
  background-color: #08051C;
  animation: marquee 100s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  .last {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease 0s;

    div {
      color: rgba(255, 255, 255, 0.8);
    }

    &:hover {
      border-color:#921600;
      background: linear-gradient(133deg, rgba(255, 255, 255, 0.62) 0%, rgba(255, 255, 255, 0.16) 15.05%, rgba(255, 255, 255, 0.00) 24.06%, rgba(255, 255, 255, 0.00) 80.27%, rgba(255, 255, 255, 0.15) 89.09%, rgba(255, 255, 255, 0.55) 111.68%), radial-gradient(193.17% 113.6% at 96.29% 4.49%, #FFF 0%, #FFC602 34.61%, #FBA804 68.83%, #FF7F03 100%);
      box-shadow: 0.14597px 0px 0.29194px 0px #FFCB45 inset;

      div {
        color: #921600;
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .top {
    .hiddenOnMobile {
      display: none;
    }

    .box {
      padding: 8px 16px;
      border-radius: 82px;
      flex: 0 0 auto;
      width: fit-content;

      .button {
        //padding: 8px 16px;
        border-radius: 82px;
        white-space: nowrap;
      }
    }
  }
}

@keyframes rotateAndMove {
  0%, 100% {
      transform: rotate(0deg);
      margin-top: 0;
  }

  25% {
      transform: rotate(0deg);
      margin-top: -32px;
  }

  30% {
      transform: rotate(-15deg);
      margin-top: -32px;
  }

  40% {
      transform: rotate(15deg);
      margin-top: -32px;
  }

  50% {
      transform: rotate(-15deg);
      margin-top: -32px;
  }

  60% {
      transform: rotate(15deg);
      margin-top: -32px;
  }

  70% {
      transform: rotate(0);
      margin-top: -32px;
  }
}