.content {
  padding: 64px 26px;
  background-color: #08051C;
  position: relative;
  z-index: 0;
}

.imgRound {
  font-size: 0;

  img {
    border-radius: 50%;
  }
}

.imgSquare {
  font-size: 0;

  img {
    border-radius: 4px;
  }
}

.loader {
  border: 10px solid #4936C7;
  border-top: 10px solid #5A576D;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}