.container {
  height: 100%;
  overflow: hidden;
  background-color: #0E0B23;
  border: solid #19162D 1px;
  border-radius: 4px;

  .header {
    background-color: #1C192F;
    padding: 10px 8px;
    border-radius: 4px 4px 0 0;
  }

  .rowHeader {
    padding: 4px 8px;
  }

  .sale {
    padding: 10px 8px;
    cursor: pointer;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }
  
    &:hover {
      &:after {
        background-color: rgba(255,255,255,0.1);
      }
    }
  }

  &.mobile {
    height: auto;
    position: absolute;
    inset: 0;
    background-color: transparent;

    .header {
      background-color: transparent;
      height: auto;
    }

    .rowHeader {
      height: 32px;
    }

    .sale {
      height: 32px;
    }
  }
}
